.Heading{
    background-color:#FCBAD3 ;
    text-align: center;
    color:rgb(250, 250, 250);
    padding: 2px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 9px;

}
.Input-box{
    background-color: #bac5fc;
    margin-right: 15rem;
    margin-left: 10rem;
    margin-top: 10px;
    border-radius: 15px;
}

.table{
    margin-left: 60px;
}

.Input {
    border-radius: 7px;
    border-color: #bac5fc;
    size: 80px;
    padding-left: 1rem;
    margin-top: 4px;
    margin-left: 8px;
}

.list{
    margin-left:9rem;
    margin-bottom: 1rem;
}

.check-box{
    background-color: #A8D8EA;
    margin-left:15rem;
    padding: 5px;
    
}

.notes{
    background-color: #FCBAD3;

    margin-left: 5rem;
    padding-left: 1rem;
    padding-right: 2rem;
}

.X{
    background-color: #AA96DA ;
    padding-left: 1rem;

}

